﻿@using Core.Models;
@using Portal_Delas.Models;
@using Core.Data;
@using System.Linq;
@model LoginResultModel

@{

    ViewData["Title"] = "Index";

}

@if (Model != null)
{
    if (Model.LoginType.Equals("I am a Company"))
    {
        <p>Welcome</p>
        //<p>Create a Job</p>
        <a asp-controller="Home" asp-action="CreateJob">Create a Job</a>
       //@Html.ActionLink("Create Job","CreateJob","Home")
        <p>Create an Event</p>
    }
    else
    {
        <p>Welcome</p>
        <p>Apply to a Job</p>
        <p>Apply to an Event</p>
    }
}
else
{
    <p>Bem Vinda ao Portal Delas/Welcome to Portal Delas</p>
    <p>Crie uma conta ou faça login para continuar</p>
    <p>Create your account or login to continue</p>
}