﻿@using Core.Models;
@using Portal_Delas.Models;
@using Core.Data;
@using System.Linq;
@model LoginResultModel

@{

    ViewData["Title"] = "Index";

}

@if (Model != null)
{
    if (Model.LoginType.Equals("I am a Company"))
    {
				<div class="mb-3">
    <a asp-controller="Home" asp-action="CreateJob" class="btn btn-secondary">Create a Job</a>
	</div>
	<div class="mb-3">
    <a asp-controller="Home" asp-action="CreateEvent" class="btn btn-secondary">Create an Event</a>
	</div>
	<div class="mb-3">
    <a asp-controller="Home" asp-action="PostHistory" class="btn btn-secondary">Check your post history</a>
	</div>
	<div class="mb-3">
    <a asp-controller="Home" asp-action="EventHistory" class="btn btn-secondary">Check your event history</a>
	</div>
    }
    else
    {
		<div class="mb-3">
	 <a asp-controller="Home" asp-action="ApplyJob" class="btn btn-secondary">Apply to a Job</a>
		</div>
		<div class="mb-3">
    <a asp-controller="Home" asp-action="ApplyEvent" class="btn btn-secondary">Apply to an Event</a>
		</div>
        <div class="mb-3">
        <input class="btn btn-secondary" id="applyButton" value="Check your history" onclick="printMessage()">
        </div>
    }
}
else
{
    <p>Bem Vinda ao Portal Delas/Welcome to Portal Delas!</p>
    <p>Crie uma conta ou faça login para continuar.</p>
    <p>Create your account or login to continue.</p>
}

@section scripts {
    <script>
        document.getElementById('applyButton').addEventListener('click', function () {
            alert('This section is under construction');
        });
    </script>
}