@model LibBiz.Models.UserInfo

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	ViewData["Title"] = "Register";
}

<div class="text-center w-100">
    <main class="form-signin">

        <form method="post" asp-controller="UserInfo" asp-action="Register">
            <h1 class="h3 mb-3 fw-normal">Create account</h1>
            <h5>It is quick and easy</h5>

            <div class="form-floating mb-3">
                <input asp-for="EMail" class="form-control" placeholder="name@example.com">
                <label asp-for="EMail">Email address</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" placeholder="Password" type="password">
                <label asp-for="Password">Password</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="Your Name">
                <label asp-for="Name">Name</label>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

            <div class="mt-1">
                <a asp-action="Login">Login</a>
            </div>
        </form>
    </main>
</div>